/* @import url(../weather-icons-master/font/weathericons-regular-webfont.eot);
@import url(../weather-icons-master/font/weathericons-regular-webfont.svg);
@import url(../weather-icons-master/font/weathericons-regular-webfont.ttf);
@import url(../weather-icons-master/font/weathericons-regular-webfont.woff);
@import url(../weather-icons-master/font/weathericons-regular-webfont.woff2); */

*{box-sizing: border-box;}
.container{
    margin-top: 50px;
    width: 100%;
}
table{
    width: 1200px;
    height: 200px;
    border: 1px solid pink;
}
thead{
    border-top: 2px solid #912b2b;
}
th:first-child{
    background-color: #ffeaea;
    color: #666;
}
td:first-child{
    background-color: #ffeaea;
    color: #666;
    font-weight: 600;
}

td{
    border: 1px solid #333;
}